@import "tailwindcss";

:root {
  --background: #ffffff;
  --background-accent: #f8ffae;
  --foreground: #333333;
}

@theme inline {
  --color-background-accent: var(--background-accent);
  --color-foreground: var(--foreground);
  --font-poppins: Poppins, sans-serif;
  --color-mint-500: oklch(0.72 0.11 178);
  --mobile-nav-height: 116px;
  --nav-height: 76px;
}

html {
  scroll-behavior: smooth;
  min-height: 100vh;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  min-height: 100vh;
}
